@using Entity
@model BillingInformation
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "تکمیل اطلاعات";
}

<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">تکمیل اطلاعات</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">داشبورد</a></li>
                        <li class="breadcrumb-item active" aria-current="page">تکمیل اطلاعات</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-xl-8 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات صورتحساب</h3>
                        </div>
                        <form asp-action="Index" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="card-body">
                                        <div class="row">
                                            <!-- اطلاعات پایه -->
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">نام <span class="text-red">*</span></label>
                                                    <input asp-for="FirstName" type="text" class="form-control" placeholder="نام" required>
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">نام خانوادگی <span class="text-red">*</span></label>
                                                    <input asp-for="LastName" type="text" class="form-control" placeholder="نام خانوادگی" required>
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <!-- اطلاعات تماس -->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">آدرس ایمیل <span class="text-red">*</span></label>
                                                    <input asp-for="Email" type="email" class="form-control" placeholder="example@domain.com" required>
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">شماره تلفن <span class="text-red">*</span></label>
                                                    <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="0912XXXYYYY" pattern="[0-9]{11}" required>
                                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <!-- اطلاعات سازمانی -->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">نام شرکت/سازمان</label>
                                                    <input asp-for="CompanyName" type="text" class="form-control" placeholder="نام شرکت (اختیاری)">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">وبسایت شرکت</label>
                                                    <input asp-for="Website" type="url" class="form-control" placeholder="https://example.com">
                                                    <span asp-validation-for="Website" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <!-- اطلاعات مکانی -->
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="form-label">آدرس کامل <span class="text-red">*</span></label>
                                                    <textarea asp-for="FullAddress" class="form-control" rows="3" placeholder="آدرس پستی کامل" required></textarea>
                                                    <span asp-validation-for="FullAddress" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">کشور</label>
                                                    <input asp-for="Country" type="text" class="form-control" placeholder="ایران">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">استان</label>
                                                    <input asp-for="Province" type="text" class="form-control" placeholder="استان">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">کد پستی <span class="text-red">*</span></label>
                                                    <input asp-for="PostalCode" type="text" class="form-control" placeholder="1234567890" required>
                                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">زمان اجاره سرور به روز <span class="text-red">*</span></label>
                                                    <input asp-for="RentalDays" type="number" class="form-control" placeholder="30 روز" required min="1" max="365">
                                                    <span asp-validation-for="RentalDays" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">روش پرداخت</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-pay">
                                                <ul class="tabs-menu nav">
                                                    <li class="active">
                                                        <input type="radio" name="PaymentMethod" value="Zarinpal" id="zarinpal" checked hidden>
                                                        <label for="zarinpal" class="payment-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M19.5,5h-15C3.119812,5.0012817,2.0012817,6.119812,2,7.5v10c0.0012817,1.380188,1.119812,2.4987183,2.5,2.5h15c1.380188-0.0012817,2.4987183-1.119812,2.5-2.5v-10C21.9987183,6.119812,20.880188,5.0012817,19.5,5z M21,17.5c-0.0009155,0.828064-0.671936,1.4990845-1.5,1.5h-15c-0.828064-0.0009155-1.4990845-0.671936-1.5-1.5V11h18V17.5z M21,10H3V7.5C3.0009155,6.671936,3.671936,6.0009155,4.5,6h15c0.828064,0.0009155,1.4990845,0.671936,1.5,1.5V10z M6.5,15h4c0.276123,0,0.5-0.223877,0.5-0.5S10.776123,14,10.5,14h-4C6.223877,14,6,14.223877,6,14.5S6.223877,15,6.5,15z" /></svg>
                                                            زرین پال
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="PaymentMethod" value="BankPasargad" id="pasargad" hidden>
                                                        <label for="pasargad" class="payment-icon">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M21.6728516,4.53125l-9.5-3.5c-0.1115723-0.0410156-0.2341309-0.0410156-0.3457031,0l-9.5,3.5C2.1305542,4.6034546,1.999939,4.7905884,2,5v3.5C1.9998169,8.776001,2.2234497,8.9998169,2.4993896,9C2.4996338,9,2.4998169,9,2.5,9H4v8.0505371C2.836792,17.2893677,2.0013428,18.3125,2,19.5v2c-0.0001831,0.276001,0.2234497,0.4998169,0.4993896,0.5C2.4996338,22,2.4998169,22,2.5,22h19c0.276001,0.0001831,0.4998169-0.2234497,0.5-0.4994507c0-0.0001831,0-0.0003662,0-0.0005493v-2c-0.0013428-1.1875-0.836792-2.2106323-2-2.4494629V9h1.5c0.276001,0.0001831,0.4998169-0.2234497,0.5-0.4994507C22,8.5003662,22,8.5001831,22,8.5V5C22.000061,4.7905884,21.8694458,4.6034546,21.6728516,4.53125z M21,19.5V21H3v-1.5c0.0009155-0.828064,0.671936-1.4990845,1.5-1.5h15C20.328064,18.0009155,20.9990845,18.671936,21,19.5z M5,17V9h3v8H5z M9,17V9h6v8H9z M16,17V9h3v8H16z M21,8H3V5.3486328l9-3.3154297l9,3.3154297V8z" /></svg>
                                                            بانک پاسارگاد
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-end">
                                        <button type="submit" class="btn btn-primary">ادامه به پرداخت</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ROW-1 CLOSED -->
        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}