@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "سرور های من";
}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app ">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">اطلاعات سرور</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/dashboard">داشبورد</a></li>
                        <li class="breadcrumb-item active" aria-current="page">اطلاعات سرور</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            اطلاعات سرور
                        </div>
                    </div>
                </div>
                <!-- COL-END -->
            </div>
            <!-- ROW-1 CLOSED -->

        </div>
        <!-- CONTAINER CLOSED -->
    </div>
</div>
<!--app-content closed-->