@{
    ViewData["Title"] = "خانه";
}
<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero__slider owl-carousel">
        <div class="hero__item set-bg" data-setbg="/static/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h5>قدرت پردازشی نامحدود در دستان شما</h5>
                            <h2>
                                سرورهای پرسرعت ابری
                                با قیمت شگفت‌انگیز
                            </h2>
                            <a href="#" class="primary-btn">همین حالا شروع کنید</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img">
                            <img src="/static/img/hero/hero-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/static/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h2>سروری سریع، پایدار و همیشه در دسترس</h2>
                            <a href="#" class="primary-btn">همین حالا شروع کنید</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img">
                            <img src="/static/img/hero/hero-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__item set-bg" data-setbg="/static/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h5>بهترین انتخاب برای استارتاپ‌ها و کسب‌وکارها</h5>
                            <h2>
                                سرور ابری مقرون‌به‌صرفه
                                با راه‌اندازی آنی
                            </h2>
                            <a href="#" class="primary-btn">همین حالا شروع کنید</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img">
                            <img src="/static/img/hero/hero-right.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Pricing Section Begin -->
<section class="pricing-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 server-select-box">
                <div class="pricing__swipe-btn">
                    <label for="month" class="active">
                        CPU
                        <input type="radio" id="month">
                    </label>
                    <label for="yearly">
                        GPU
                        <input type="radio" id="yearly">
                    </label>
                    @*                     <label for="">
                        ژوپیترلب
                        <input type="radio" >
                    </label> *@
                </div>
            </div>
            <div class="col-lg-7 col-md-7">
                <div class="section-title normal-title">
                    <p>سرور های پردازش سریع، فقط چند کلیک با شما فاصله دارد</p>
                    <h3>طرح مناسب خود را انتخاب کنید</h3>
                </div>
            </div>
        </div>

        <div class="row monthly__plans active">
            <!-- پلن 1 -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن پایه</h4>
                    <h5>۳۶,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>۱۰ هسته پردازشی منطقی</li>
                        <li>۱۵ گیگابایت رم</li>
                        <li>۲۰۰ گیگابایت فضای HDD</li>
                        <li>مناسب کارهای سبک و آموزش</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن 2 - پرفروش‌ترین -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item popular">
                    @* <div class="tag">پرفروش‌ترین</div> *@
                    <h4>پلن حرفه‌ای</h4>
                    <h5>۷۲,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>۲۰ هسته پردازشی منطقی</li>
                        <li>۳۰ گیگابایت رم</li>
                        <li>۴۰۰ گیگابایت فضای HDD</li>
                        <li>مناسب پروژه‌های تحقیقاتی و تولیدی</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن 3 -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن قدرتمند</h4>
                    <h5>۱۴۴,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>۴۰ هسته پردازشی منطقی</li>
                        <li>۶۰ گیگابایت رم</li>
                        <li>۴۰۰ گیگابایت فضای HDD</li>
                        <li>مناسب تحلیل‌های پیچیده</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن 4 -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن فوق‌سنگین</h4>
                    <h5>۲۸۸,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>۸۰ هسته پردازشی منطقی</li>
                        <li>۱۲۰ گیگابایت رم</li>
                        <li>۴۰۰ گیگابایت فضای HDD</li>
                        <li>برای پروژه‌های صنعتی و علمی</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>
        </div>
        <div class="row yearly__plans">
            <!-- پلن GPU 1 -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن پایه</h4>
                    <h5>۴۰۰,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>پردازش گرافیکی RTX 2080Ti</li>
                        <li>مناسب پردازش تصویر، ویدیو و مدل‌های ML</li>
                        <li>سرعت و کارایی بالا برای پروژه‌های متوسط</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن GPU 2 -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن حرفه‌ای</h4>
                    <h5>۶۰۰,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>پردازش گرافیکی RTX 3090</li>
                        <li>قدرت بی‌نظیر در پردازش‌های سنگین</li>
                        <li>مناسب یادگیری عمیق، هوش مصنوعی</li>
                    </ul>
                    <a href="http://93.126.41.41:5001/api/Command/CreateGPUVM" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن Tesla A100 (۴۰GB) -->
            <div class="col-lg-3 col-sm-6">
                <div class="pricing__item">
                    <h4>پلن قدرتمند</h4>
                    <h5>۱,۰۰۰,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>Tesla A100 (۴۰GB)</li>
                        <li>۷۰ هسته CPU منطقی</li>
                        <li>۳۶۰ گیگابایت رم</li>
                        <li>۱ ترابایت فضای ذخیره‌سازی</li>
                        <li>مناسب برای پروژه‌های یادگیری ماشین پیشرفته و محاسبات سنگین</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>

            <!-- پلن Tesla A100 (۸۰GB) -->
            <div class="col-lg-3 col-sm-12">
                <div class="pricing__item highlight">
                    @* <div class="tag tag-special">پیشنهاد ویژه</div> *@
                    <h4>پلن فوق‌سنگین</h4>
                    <h5>۱,۸۰۰,۰۰۰ روزانه / تومان</h5>
                    <ul>
                        <li>Tesla A100 (۸۰GB)</li>
                        <li>۱۴۰ هسته CPU منطقی</li>
                        <li>۷۶۰ گیگابایت رم</li>
                        <li>۲ ترابایت فضای ذخیره‌سازی</li>
                        <li>ایده‌آل برای پروژه‌های پیشرفته هوش مصنوعی و یادگیری ماشین</li>
                    </ul>
                    <a href="#" class="primary-btn">رزرو</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Pricing Section End -->
<!-- Services Section Begin -->
<!-- Pricing Section End -->
<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3> چرا مشتریان  ما رو انتخاب میکنند</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>پردازش آنی و قدرتمند</h5>
                    <span>اجرای پروژه‌های سنگین</span>
                    <p>اجرای پروژه‌های سنگین در کمترین زمان با قدرت سخت‌افزاری بالا</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>محاسبه هزینه به صورت ساعتی</h5>
                    <span>پرداخت منعطف</span>
                    <p>فقط به اندازه‌ی مصرف واقعی پرداخت کنید</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>دسترسی ۲۴/۷ به سرورها</h5>
                    <span>اتصال ایمن</span>
                    <p>همیشه و همه‌جا قابل استفاده با اتصال ایمن</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>پشتیبانی از GPU قدرتمند</h5>
                    <span>برای پردازش گرافیکی</span>
                    <p>پشتیبانی از GPU قدرتمند برای رندر و محاسبات گرافیکی سنگین</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>راه‌اندازی در کمتر از یک دقیقه</h5>
                    <span>بدون انتظار</span>
                    <p>سرور خود را با چند کلیک و بدون انتظار، بلافاصله فعال کنید</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="services__item">
                    <h5>پشتیبانی فوری و تخصصی</h5>
                    <span>تیم فنی همیشه در دسترس</span>
                    <p>تیم فنی همیشه در دسترس برای رفع مشکلات و پاسخ به سوالات شما</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<!-- بخش دستاوردها -->
<!-- Services Section End -->
<!-- بخش دستاوردها -->
<section class="achievement-section set-bg spad" data-setbg="/static/img/achievement-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement__item">
                    <span class="fa fa-user-o"></span>
                    <h2 class="achieve-counter">100</h2>
                    <p>کاربران فعال در سراسر کشور</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement__item">
                    <span class="fa fa-edit"></span>
                    <h2 class="achieve-counter">10</h2>
                    <p>سفارش فعال ساعتی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement__item">
                    <span class="fa fa-clone"></span>
                    <h2 class="achieve-counter">50</h2>
                    <p>سرورهای راه‌اندازی‌شده کمتر از ۵ دقیقه</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="achievement__item">
                    <span class="fa fa-cog"></span>
                    <h2 class="achieve-counter">100</h2>
                    <p>پروژه‌های پردازش‌شده با GPU</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- پایان بخش دستاوردها -->
<!-- بخش نحوه کار -->
<section class="work-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>تنها چند قدم تا سرور قدرتمند شما</h3>
                </div>
                <div class="work__text">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="work__item">
                                <i class="fa fa-bolt"></i>
                                <span>بدون معطلی، آماده‌ی شروع</span>
                                <h3>سرور خود را در لحظه بسازید</h3>
                                <p>
                                    با چند کلیک ساده، سرور دلخواه‌تان را انتخاب و در کمتر از ۶۰ ثانیه راه‌اندازی کنید دیگر نیازی به تنظیمات پیچیده یا انتظار طولانی نیست
                                </p>
                                <a href="#" class="primary-btn">جزئیات بیشتر</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="work__item">
                                <i class="fa fa-rocket"></i>
                                <span>سرورهای تخصصی برای هوش مصنوعی و تحلیل داده</span>
                                <h3>زیرساخت محاسباتی ویژه</h3>
                                <p>
                                    سرورهایی با پردازش سریع، محاسبه هزینه به‌صورت ساعتی و پشتیبانی تخصصی، مناسب برای مدل های هوش مصنوعی و انواع پردازش های سنگین
                                </p>
                                <a href="#" class="primary-btn">اطلاعات بیشتر</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- پایان بخش نحوه کار -->
<!-- بخش انتخاب پلن -->
<section class="choose-plan-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="/static/img/choose-plan.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="plan__text">
                    <h3>تا ۵۰% تخفیف برای دانشجویان و اساتید دانشگاه اصفهان!</h3>
                    <ul>
                        <li>تخفیف‌های ویژه برای تیم‌های تحقیقاتی و استارتاپ‌ها <span class="fa fa-check"></span></li>
                        <li>پردازش سریع و بدون تأخیر <span class="fa fa-check"></span></li>
                        <li>محاسبه هزینه به‌صورت ساعتی و بهینه <span class="fa fa-check"></span></li>
                        <li>پشتیبانی ۲۴ ساعته و تخصصی <span class="fa fa-check"></span></li>
                        <li>راه‌اندازی سریع و بدون نیاز به تنظیمات پیچیده <span class="fa fa-check"></span></li>
                        <li>مناسب برای مدل‌های هوش مصنوعی و داده‌کاوی <span class="fa fa-check"></span></li>

                    </ul>
                    <a href="#" class="primary-btn">همین حالا شروع کنید</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- پایان بخش انتخاب پلن -->
