@{
    ViewData["Title"] = "پلن ها";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__option">
                    <a href="./index.html"><span class="fa fa-home"></span> Home</a>
                    <span>Hosting</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Hosting Section Begin -->
<section class="hosting-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>انتخاب پلن مناسب برای نیاز شما</h3>
                </div>
                <div class="hosting__text">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <span class="flaticon-003-network"></span>
                                <h5>پلن‌های CPU</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <span class="flaticon-030-server-1"></span>
                                <h5>پلن‌های GPU</h5>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>تمام ویژگی‌های سرور پردازش سریع</span>
                                                    <div class="chose__title">پلن مناسب خود را انتخاب کنید</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن پایه</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۳۶,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn popular-btn">خرید پلن</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan popular-plan">
                                                    <div class="popular-badge">
                                                        <span class="badge-text">پرفروش‌ترین</span>
                                                        <span class="badge-icon flame-icon">🔥</span>
                                                    </div>
                                                    <div class="plan__title">پلن حرفه‌ای</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۷۲,۰۰۰</div>
                                                        <span class="price-period">تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn popular-btn">خرید پلن</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن قدرتمند</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۱۴۴,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn popular-btn">خرید پلن</a>
                                                </div>

                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن فوق‌سنگین</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۲۸۸,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn popular-btn">خرید پلن</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">مناسب برای</td>
                                            <td class="hosting__feature--info">پردازش‌های سبک، توسعه نرم‌افزار، سرورهای تست و آموزشی</td>
                                            <td class="hosting__feature--info">پروژه‌های تحقیقاتی و تولیدی</td>
                                            <td class="hosting__feature--info">تحلیل‌های پیچیده</td>
                                            <td class="hosting__feature--info">پروژه‌های صنعتی و علمی</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پردازنده</td>
                                            <td class="hosting__feature--info">10 Core(Logical)</td>
                                            <td class="hosting__feature--info">20 Core(Logical)</td>
                                            <td class="hosting__feature--info">40 Core(Logical)</td>
                                            <td class="hosting__feature--info">80 Core(Logical)</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">حافظه رم</td>
                                            <td class="hosting__feature--info">۱۵ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۳۰ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۶۰ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۱۲۰ گیگابایت DDR4</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">ذخیره‌سازی</td>
                                            <td class="hosting__feature--info">۲۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پهنای باند</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">فایروال اختصاصی</td>
                                           @*  <td class="hosting__feature--close"><span class="fa fa-times-circle-o"></span></td> *@
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
  
                                        <tr>
                                            <td class="hosting__feature--item">دسترسی روت کامل <br /> پنل مدیریت</td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پشتیبانی</td>
                                            <td class="hosting__feature--info">از طریق تیکت، اولویت کم</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، اولویت متوسط</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت متوسط</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت بالا</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">سرعت پردازش</td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item"> ۹۹.۹٪ آپتایم</td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">زمان تحویل</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>All Servers Hosting Features</span>
                                                    <div class="chose__title">CHOOSE PERFECT PLAN</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Started</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$3.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Business</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$5.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Premium</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$8.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">Number of Websites</td>
                                            <td class="hosting__feature--info">1 Website</td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Domain Registration</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Web Space</td>
                                            <td class="hosting__feature--info">5,000MB</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Email Accounts</td>
                                            <td class="hosting__feature--info">25</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">MySQL Databases</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free App Store</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">cPanel Control Panel</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Daily Backups</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Search Engine Optimization</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">99.9% Uptime Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Bandwidth</td>
                                            <td class="hosting__feature--info">20GB</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Setup</td>
                                            <td class="hosting__feature--info">$ 1.99</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Advanced Security Features</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">24/7/365 Support</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Website Builder</td>
                                            <td class="hosting__feature--info">1</td>
                                            <td class="hosting__feature--info">50</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">30 Day Money Back Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>All VPS Hosting Features</span>
                                                    <div class="chose__title">CHOOSE PERFECT PLAN</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Started</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$3.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Business</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$5.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Premium</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$8.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">Number of Websites</td>
                                            <td class="hosting__feature--info">1 Website</td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Domain Registration</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Web Space</td>
                                            <td class="hosting__feature--info">5,000MB</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Email Accounts</td>
                                            <td class="hosting__feature--info">25</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">MySQL Databases</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free App Store</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">cPanel Control Panel</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Daily Backups</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Search Engine Optimization</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">99.9% Uptime Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Bandwidth</td>
                                            <td class="hosting__feature--info">20GB</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Setup</td>
                                            <td class="hosting__feature--info">$ 1.99</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Advanced Security Features</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">24/7/365 Support</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Website Builder</td>
                                            <td class="hosting__feature--info">1</td>
                                            <td class="hosting__feature--info">50</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">30 Day Money Back Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>All Dedicated Hosting Features</span>
                                                    <div class="chose__title">CHOOSE PERFECT PLAN</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Started</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$3.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Business</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$5.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Premium</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$8.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">Number of Websites</td>
                                            <td class="hosting__feature--info">1 Website</td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Domain Registration</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Web Space</td>
                                            <td class="hosting__feature--info">5,000MB</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Email Accounts</td>
                                            <td class="hosting__feature--info">25</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">MySQL Databases</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free App Store</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">cPanel Control Panel</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Daily Backups</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Search Engine Optimization</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">99.9% Uptime Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Bandwidth</td>
                                            <td class="hosting__feature--info">20GB</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Setup</td>
                                            <td class="hosting__feature--info">$ 1.99</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Advanced Security Features</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">24/7/365 Support</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Website Builder</td>
                                            <td class="hosting__feature--info">1</td>
                                            <td class="hosting__feature--info">50</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">30 Day Money Back Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-5" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>All Reseller Hosting Features</span>
                                                    <div class="chose__title">CHOOSE PERFECT PLAN</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Started</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$3.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Business</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$5.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan">
                                                    <div class="plan__title">Premium</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">$8.90</div>
                                                        <span>month</span>
                                                    </div>
                                                    <a href="#" class="primary-btn">Buy now</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">Number of Websites</td>
                                            <td class="hosting__feature--info">1 Website</td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                            <td class="hosting__feature--info">
                                                Multiple Websites
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Domain Registration</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Web Space</td>
                                            <td class="hosting__feature--info">5,000MB</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Email Accounts</td>
                                            <td class="hosting__feature--info">25</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">MySQL Databases</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free App Store</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">cPanel Control Panel</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Daily Backups</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Search Engine Optimization</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">99.9% Uptime Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Bandwidth</td>
                                            <td class="hosting__feature--info">20GB</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Free Setup</td>
                                            <td class="hosting__feature--info">$ 1.99</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Advanced Security Features</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                            <td class="hosting__feature--info">Extra</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Cloud Hosting</td>
                                            <td class="hosting__feature--close">
                                                <span class="fa fa-times-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                            <td class="hosting__feature--info">$ 250.0</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">24/7/365 Support</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">Website Builder</td>
                                            <td class="hosting__feature--info">1</td>
                                            <td class="hosting__feature--info">50</td>
                                            <td class="hosting__feature--info">Unlimited</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">30 Day Money Back Guarantee</td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                            <td class="hosting__feature--check">
                                                <span class="fa fa-check-circle-o"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hosting Section End -->
<!-- Question Section Begin -->
<section class="question-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Have a questions?</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="question__accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    How do I cancel and delete my account?
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                        facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    Can I get my website listed in Google?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                        facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    Can I run a business?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                        facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFour">
                                    Does ArkaHost offer phone support?
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
                                        ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                                        facilisis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="#" class="question-form">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Email">
                    <textarea placeholder="Question"></textarea>
                    <button type="submit" class="site-btn">Send question</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Question Section End -->
