@{
    ViewData["Title"] = "پلن ها";
}
<!-- مسیر راهنمایی آغاز -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__option">
                    <a href="/"><span class="fa fa-home"></span> صفحه اصلی</a>
                    <span class="mx-2">></span>
                    <span>لیست پلن ها</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- مسیر راهنمایی پایان -->

<!-- Hosting Section Begin -->
<section class="hosting-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>انتخاب پلن مناسب برای نیاز شما</h3>
                </div>
                <div class="hosting__text">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <span class="flaticon-003-network"></span>
                                <h5>پلن‌های CPU</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <span class="flaticon-030-server-1"></span>
                                <h5>پلن‌های GPU</h5>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="hosting__feature__table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="hosting__feature__plan--choose">
                                                    <span>تمام ویژگی‌های سرور پردازش سریع</span>
                                                    <div class="chose__title">پلن مناسب خود را انتخاب کنید</div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن پایه</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۳۶,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn add-to-cart" data-server-id="9">رزرو</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan popular-plan">
                                                    <div class="popular-badge">
                                                        <span class="badge-text">پرفروش‌ترین</span>
                                                        <span class="badge-icon flame-icon">🔥</span>
                                                    </div>
                                                    <div class="plan__title">پلن حرفه‌ای</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۷۲,۰۰۰</div>
                                                        <span class="price-period">تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn add-to-cart" data-server-id="2">رزرو</a>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن قدرتمند</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۱۴۴,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn add-to-cart" data-server-id="3">رزرو</a>
                                                </div>

                                            </th>
                                            <th>
                                                <div class="hosting__feature--plan normal-plan">
                                                    <div class="plan__title">پلن فوق‌سنگین</div>
                                                    <div class="hosting__feature--price">
                                                        <div class="plan__price">۲۸۸,۰۰۰</div>
                                                        <span>تومان (روزانه)</span>
                                                    </div>
                                                    <a href="#" class="primary-btn add-to-cart" data-server-id="4">رزرو</a>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="hosting__feature--item">مناسب برای</td>
                                            <td class="hosting__feature--info">پردازش‌های سبک، توسعه نرم‌افزار، سرورهای تست و آموزشی</td>
                                            <td class="hosting__feature--info">پروژه‌های تحقیقاتی و تولیدی</td>
                                            <td class="hosting__feature--info">تحلیل‌های پیچیده</td>
                                            <td class="hosting__feature--info">پروژه‌های صنعتی و علمی</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پردازنده</td>
                                            <td class="hosting__feature--info">10 Core(Logical)</td>
                                            <td class="hosting__feature--info">20 Core(Logical)</td>
                                            <td class="hosting__feature--info">40 Core(Logical)</td>
                                            <td class="hosting__feature--info">80 Core(Logical)</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">حافظه رم</td>
                                            <td class="hosting__feature--info">۱۵ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۳۰ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۶۰ گیگابایت DDR4</td>
                                            <td class="hosting__feature--info">۱۲۰ گیگابایت DDR4</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">ذخیره‌سازی</td>
                                            <td class="hosting__feature--info">۲۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                            <td class="hosting__feature--info">۴۰۰ گیگابایت HDD </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پهنای باند</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                            <td class="hosting__feature--info">۱ Gb/s</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">فایروال اختصاصی</td>
                                           @*  <td class="hosting__feature--close"><span class="fa fa-times-circle-o"></span></td> *@
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
  
                                        <tr>
                                            <td class="hosting__feature--item">دسترسی روت کامل <br /> پنل مدیریت</td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">پشتیبانی</td>
                                            <td class="hosting__feature--info">از طریق تیکت، اولویت کم</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، اولویت متوسط</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت متوسط</td>
                                            <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت بالا</td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">سرعت پردازش</td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                            <td class="hosting__feature--info">✔ سرعت فوق‌العاده </td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item"> ۹۹.۹٪ آپتایم</td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                        </tr>
                                        <tr>
                                            <td class="hosting__feature--item">زمان تحویل</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="hosting__feature__table">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div class="hosting__feature__plan--choose">
                                                        <span>تمام ویژگی‌های سرور پردازش سریع</span>
                                                        <div class="chose__title">پلن مناسب خود را انتخاب کنید</div>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="hosting__feature--plan normal-plan">
                                                        <div class="plan__title">پلن پایه</div>
                                                        <div class="hosting__feature--price">
                                                            <div class="plan__price">۴۰۰,۰۰۰</div>
                                                            <span>تومان (روزانه)</span>
                                                        </div>
                                                        <a href="#" class="primary-btn add-to-cart" data-server-id="5">رزرو</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="hosting__feature--plan popular-plan">
                                                        <div class="popular-badge">
                                                            <span class="badge-text">پرفروش‌ترین</span>
                                                            <span class="badge-icon flame-icon">🔥</span>
                                                        </div>
                                                        <div class="plan__title">پلن حرفه‌ای</div>
                                                        <div class="hosting__feature--price">
                                                            <div class="plan__price">۶۰۰,۰۰۰</div>
                                                            <span class="price-period">تومان (روزانه)</span>
                                                        </div>
                                                        <a href="#" class="primary-btn add-to-cart" data-server-id="6">رزرو</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="hosting__feature--plan normal-plan">
                                                        <div class="plan__title">پلن قدرتمند</div>
                                                        <div class="hosting__feature--price">
                                                            <div class="plan__price">۱,۰۰۰,۰۰۰</div>
                                                            <span>تومان (روزانه)</span>
                                                        </div>
                                                        <a href="#" class="primary-btn add-to-cart" data-server-id="7">رزرو</a>
                                                    </div>
                                                </th>
                                                <th>
                                                    <div class="hosting__feature--plan normal-plan">
                                                        <div class="plan__title">پلن فوق‌سنگین</div>
                                                        <div class="hosting__feature--price">
                                                            <div class="plan__price">۱,۸۰۰,۰۰۰</div>
                                                            <span>تومان (روزانه)</span>
                                                        </div>
                                                        <a href="#" class="primary-btn add-to-cart" data-server-id="8">رزرو</a>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="hosting__feature--item">مناسب برای</td>
                                                <td class="hosting__feature--info">پردازش تصویر، ویدیو و مدل‌های ML</td>
                                                <td class="hosting__feature--info">یادگیری عمیق، هوش مصنوعی</td>
                                                <td class="hosting__feature--info">پروژه‌های یادگیری ماشین پیشرفته</td>
                                                <td class="hosting__feature--info">پروژه‌های پیشرفته هوش مصنوعی</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">پردازنده گرافیکی</td>
                                                <td class="hosting__feature--info">RTX 2080Ti</td>
                                                <td class="hosting__feature--info">RTX 3090</td>
                                                <td class="hosting__feature--info">Tesla A100 (۴۰GB)</td>
                                                <td class="hosting__feature--info">Tesla A100 (۸۰GB)</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">هسته CPU</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">۷۰ هسته منطقی</td>
                                                <td class="hosting__feature--info">۱۴۰ هسته منطقی</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">حافظه رم</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">۳۶۰ گیگابایت</td>
                                                <td class="hosting__feature--info">۷۶۰ گیگابایت</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">ذخیره‌سازی</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">-</td>
                                                <td class="hosting__feature--info">۱ ترابایت</td>
                                                <td class="hosting__feature--info">۲ ترابایت</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">پهنای باند</td>
                                                <td class="hosting__feature--info">۱ Gb/s</td>
                                                <td class="hosting__feature--info">۱ Gb/s</td>
                                                <td class="hosting__feature--info">۱ Gb/s</td>
                                                <td class="hosting__feature--info">۱ Gb/s</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">فایروال اختصاصی</td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">دسترسی روت کامل <br /> پنل مدیریت</td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">پشتیبانی</td>
                                                <td class="hosting__feature--info">از طریق تیکت، اولویت کم</td>
                                                <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، اولویت متوسط</td>
                                                <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت متوسط</td>
                                                <td class="hosting__feature--info">۲۴/۷ از طریق تیکت، تماس اضطراری، اولویت بالا</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">سرعت پردازش</td>
                                                <td class="hosting__feature--info">سرعت و کارایی بالا برای پروژه‌های متوسط</td>
                                                <td class="hosting__feature--info">قدرت بی‌نظیر در پردازش‌های سنگین</td>
                                                <td class="hosting__feature--info">مناسب محاسبات سنگین</td>
                                                <td class="hosting__feature--info">بهترین برای پردازش‌های فوق سنگین</td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item"> ۹۹.۹٪ آپتایم</td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                                <td class="hosting__feature--check"><span class="fa fa-check-circle-o"></span></td>
                                            </tr>
                                            <tr>
                                                <td class="hosting__feature--item">زمان تحویل</td>
                                                <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                                <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                                <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                                <td class="hosting__feature--info">✔ تحویل فوری <br /> (کمتر از ۱۵ دقیقه)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hosting Section End -->
<!-- بخش پرسش و پاسخ آغاز -->
<section class="question-section spad rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <p>پاسخ سوالات متداول را در این بخش پیدا کنید یا فرم تماس را پر کنید</p>
                    <h3>سوالی دارید؟</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form action="#" class="question-form">
                    <h4 class="form-title"><b>فرم درخواست مشاوره رایگان</b></h4>
                    <br />
                    <p class="form-subtitle">کارشناسان ما در کمتر از ۲ ساعت پاسخ خواهند داد</p>

                    <input type="text" placeholder="نام و نام خانوادگی" required>
                    <input type="email" placeholder="ایمیل " required>
                    <input type="tel rtl" placeholder="شماره تماس" required>
                    <select required>
                        <option value="" disabled selected>نوع درخواست</option>
                        <option value="consulting">مشاوره انتخاب پلن</option>
                        <option value="discount">دریافت تخفیف دانشگاهی</option>
                        <option value="technical">پشتیبانی فنی</option>
                        <option value="other">سایر موارد</option>
                    </select>
                    <textarea placeholder="توضیحات و نیازهای شما" required></textarea>

                    <button type="submit" class="site-btn">ارسال درخواست</button>


                </form>
            </div>
            <div class="col-lg-6">
                <div class="question__accordin">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-heading active">
                                <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                    شرایط استفاده از تخفیف ۵۰ درصدی برای دانشگاهیان چیست؟
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        دانشجویان و اعضای هیئت علمی دانشگاه‌ها با ارائه مدرک معتبر (کارت دانشجویی یا معرفی نامه از دانشگاه) می‌توانند از ۵۰% تخفیف در تمام پلن‌ها بهره‌مند شوند. این تخفیف برای پروژه‌های تحقیقاتی و آموزشی اعمال می‌شود.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseTwo">
                                    چه نوع پروژه‌هایی می‌توانند روی سرورهای شما اجرا شوند؟
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        سرورهای ما مناسب برای:<br>
                                        - پروژه‌های یادگیری ماشین و هوش مصنوعی<br>
                                        - پردازش تصویر و ویدیو<br>
                                        - شبیه‌سازی‌های علمی و مهندسی<br>
                                        - تحلیل داده‌های حجیم<br>
                                        - رندرینگ گرافیکی<br>
                                        - توسعه نرم‌افزارهای سنگین
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseThree">
                                    مدت زمان تحویل سرور پس از پرداخت چقدر است؟
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        تمامی سرورها به صورت خودکار و در کمتر از ۱۵ دقیقه پس از تکمیل فرآیند پرداخت آماده استفاده خواهند بود. در صورت هرگونه تاخیر، تیم پشتیبانی ۲۴/۷ ما به سرعت مشکل را پیگیری خواهد کرد.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFour">
                                    چه نوع پشتیبانی ارائه می‌دهید؟
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        پشتیبانی شامل:<br>
                                        - پشتیبانی ۲۴/۷ از طریق تیکت<br>
                                        - تماس اضطراری برای مشتریان پلن‌های حرفه‌ای و بالاتر<br>
                                        - راهنمایی فنی در تنظیمات اولیه<br>
                                        - مشاوره برای انتخاب پلن مناسب<br>
                                        - پشتیبانی از طریق چت آنلاین در ساعات اداری
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-heading">
                                <a data-toggle="collapse" data-target="#collapseFive">
                                    آیا امکان ارتقای پلن پس از خرید وجود دارد؟
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        بله، در هر زمان می‌توانید پلن خود را ارتقا دهید. تفاوت هزینه به صورت روزانه محاسبه شده و برای مدت باقیمانده از اشتراک شما اعمال می‌شود. این فرآیند بدون از کار افتادن سرور انجام می‌پذیرد.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-note">
                            <p>✅ تضمین پاسخگویی در کمتر از ۲ ساعت کاری</p>
                            <p>☎️ شماره پشتیبانی: 03137932614</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- بخش پرسش و پاسخ پایان -->
<!-- Modal برای انتخاب تعداد روزهای اجاره -->
<div class="modal fade" id="rentalDaysModal" tabindex="-1" role="dialog" aria-labelledby="rentalDaysModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rentalDaysModalLabel">انتخاب مدت اجاره</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="rentalDays">تعداد روزهای اجاره:</label>
                    <input type="number" class="form-control" id="rentalDays" min="1" value="1">
                </div>
                <div id="pricePreview" class="mt-3"></div>
            </div>
            <div class="modal-footer">

                <button type="button" class="primary-btn add-to-cart" id="confirmRental">تایید و افزودن به سبد خرید</button>
            </div>
        </div>
    </div>
</div>

<!-- پایان بخش انتخاب پلن -->
@section Scripts {
    <script>
        $(document).ready(function() {
            // رویداد کلیک برای دکمه‌های رزرو
            $('.add-to-cart').click(function(e) {
                e.preventDefault();
                const serverId = $(this).data('server-id');

                // نمایش مدال برای انتخاب تعداد روزهای اجاره
                $('#rentalDaysModal').modal('show');

                // ذخیره serverId در دکمه تایید مدال
                $('#confirmRental').data('server-id', serverId);
            });

            $('#confirmRental').click(function() {
                const serverId = $(this).data('server-id');
                const rentalDays = $('#rentalDays').val();

                // if (!rentalDays || rentalDays < 1) {
                //     toastr.error('لطفاً تعداد روزهای اجاره را وارد کنید');
                //     return;
                // }

                // ارسال درخواست به سرور
                addToCart(serverId, rentalDays);
            });

                   function addToCart(serverId, rentalDays) {
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: {
                    serverId: serverId,
                    rentalDays: rentalDays
                },
                success: function(response) {
                    if (response.success) {
                        // toastr.success('سرور با موفقیت به سبد خرید اضافه شد');
                        $('#cartItemsCount').text(response.cartItemCount);
                        $('#rentalDaysModal').modal('hide');

                        // بررسی وجود redirectUrl پس از موفقیت
                        if (response.redirectUrl) {
                            setTimeout(() => {
                                window.location.href = response.redirectUrl;
                            }, 1000); // صبر ۱ ثانیه برای نمایش نوتیفیکیشن
                        }
                    } else {
                        // toastr.error(response.message);
                    }
                },
                error: function() {
                    // toastr.error('خطا در ارتباط با سرور');
                }
            });
        }

        });
    </script>
}